NiFi/opil_reply_writer_final.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>8df6d6fe-2cb8-3ee8-a343-293991747e35</groupId>
    <name>opil_reply_writer_final</name>
    <snippet>
        <processGroups>
            <id>1a1a53d8-f1f8-30d4-0000-000000000000</id>
            <parentGroupId>5bbc1057-3462-3e2c-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>4f450678-dca9-3e09-0000-000000000000</id>
                    <parentGroupId>1a1a53d8-f1f8-30d4-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1a1a53d8-f1f8-30d4-0000-000000000000</groupId>
                        <id>0f05bac2-760d-3787-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>No Retry</selectedRelationships>
                    <source>
                        <groupId>1a1a53d8-f1f8-30d4-0000-000000000000</groupId>
                        <id>71dd66a0-e54b-3340-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5dc37aff-bffc-37cd-0000-000000000000</id>
                    <parentGroupId>1a1a53d8-f1f8-30d4-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1784.0</x>
                        <y>480.0</y>
                    </bends>
                    <destination>
                        <groupId>1a1a53d8-f1f8-30d4-0000-000000000000</groupId>
                        <id>6b8e299c-3214-3b97-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>1a1a53d8-f1f8-30d4-0000-000000000000</groupId>
                        <id>0f05bac2-760d-3787-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>84e693cd-4a26-3422-0000-000000000000</id>
                    <parentGroupId>1a1a53d8-f1f8-30d4-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1a1a53d8-f1f8-30d4-0000-000000000000</groupId>
                        <id>71dd66a0-e54b-3340-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>1a1a53d8-f1f8-30d4-0000-000000000000</groupId>
                        <id>d2954305-da82-3a8b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>df141a4a-38fc-3b35-0000-000000000000</id>
                    <parentGroupId>1a1a53d8-f1f8-30d4-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1a1a53d8-f1f8-30d4-0000-000000000000</groupId>
                        <id>d2954305-da82-3a8b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>1a1a53d8-f1f8-30d4-0000-000000000000</groupId>
                        <id>e0e9fc77-aaca-34bb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fcdfee77-fdbb-3901-0000-000000000000</id>
                    <parentGroupId>1a1a53d8-f1f8-30d4-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1a1a53d8-f1f8-30d4-0000-000000000000</groupId>
                        <id>e0e9fc77-aaca-34bb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>1a1a53d8-f1f8-30d4-0000-000000000000</groupId>
                        <id>3ef4ff13-9a7a-3ba5-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>3ef4ff13-9a7a-3ba5-0000-000000000000</id>
                    <parentGroupId>1a1a53d8-f1f8-30d4-0000-000000000000</parentGroupId>
                    <position>
                        <x>1664.0</x>
                        <y>-488.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>opil_command_reply_writer_in</name>
                    <state>RUNNING</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <processors>
                    <id>0f05bac2-760d-3787-0000-000000000000</id>
                    <parentGroupId>1a1a53d8-f1f8-30d4-0000-000000000000</parentGroupId>
                    <position>
                        <x>1608.0</x>
                        <y>304.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-scripting-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.10.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Script Engine</key>
<value>
    <name>Script Engine</name>
</value>
                            </entry>
                            <entry>
<key>Script File</key>
<value>
    <name>Script File</name>
</value>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>
    <name>Script Body</name>
</value>
                            </entry>
                            <entry>
<key>Module Directory</key>
<value>
    <name>Module Directory</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Script Engine</key>
<value>ECMAScript</value>
                            </entry>
                            <entry>
<key>Script File</key>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>/**
                      NiFi script to convert incoming telemetry data in Orion format.

                      Incoming records format:
                       {
                        "commandRequestId": 63,
                        "payload": "db\ndevice.crt\ndevice-private-key.pem\ndevice-public-key.pem\ndevice-session.key\nesthesis-platform-device.jar\nplatform-provisioning.key\nplatform-public-key.pem\nprovisioning\nroot-ca.crt\n",
                        "payloadType": "text/plain",
                        "payloadEncoding": "plain",
                        "created_on": "2021-01-17 14:41:25",
                        "created_by": "system",
                        "id": 0,
                        "version": 0
                      }

                      Outgoing records format:

                      {
                           "commandRequestId": {
                                "type": "number",
                                "value": 63,
                                "metadata": {}
                            },
                            "created_on": {
                                "type": "string",
                                "value": "2021-01-17 14:41:25",
                                "metadata": {}
                            },
                            "payload": {
                                "type": "string",
                                "value": {
                                                "value": "db\ndevice.crt\ndevice-private-key.pem\ndevice-public-key.pem\ndevice-session.key\nesthesis-platform-device.jar\nplatform-provisioning.key\nplatform-public-key.pem\nprovisioning\nroot-ca.crt\n"
                                            },                                      
                                "metadata": {}
                            },
                            "created_by": {
                                "type": "string",
                                "value": "system",
                                "metadata": {}
                            },
                            "payloadType": {
                                "type": "string",
                                "value": "text/plain",
                                "metadata": {}
                            },
                            "payloadEncoding": {
                                "type": "string",
                                "value": "plain",
                                "metadata": {}
                              },
                          "version": {
                              "type": "number",
                              "value": 0,
                              "metadata": {}
                            },
                            "created_id": {
                                "type": "number",
                                "value": 0,
                                "metadata": {}
                            }
             	       }
				      **/
                      // Get references the the output stream to write results, the input stream to read the content of
                      // the FlowFile, and to the incoming FlowFile.
                      var InputStreamCallback = Java.type("org.apache.nifi.processor.io.InputStreamCallback");
                      var OutputStreamCallback = Java.type("org.apache.nifi.processor.io.OutputStreamCallback");
                      var IOUtils = Java.type("org.apache.commons.io.IOUtils");
                      var StandardCharsets = Java.type("java.nio.charset.StandardCharsets");
                      var flowFile = session.get();

                      // If no FlowFile exists return, otherwise proceed with processing.
                      if (flowFile != null) {
                      var dataPoints = [];

                      // Read incoming FlowFile and convert data to records.
                      session.read(flowFile, new InputStreamCallback(function (inputStream) {
                      // Parse incoming FlowFile content to JSON.
                      var text = IOUtils.toString(inputStream, StandardCharsets.UTF_8);

                      var json = JSON.parse(text);

                      // Iterate through records.
                      
                      var jsonEntry = json;

                      // Create a variable of output format
                      var dataPoint = {"id":"name","type":"SensorAgent","measurementType":{"type":"string","value":"numeric","metadata":{}},"modifiedTime":{"type":"string","value":"2020-12-24T14:19:38.265Z","metadata":{}},"readings":{"type":"array","value":[{"type":"SensorReading","value":{"reading":{"type":"string","value":""}}}],"metadata":{}},"sanID":{"type":"string","value":"SANdevice2","metadata":{}},"sensorID":{"type":"string","value":"device2","metadata":{}},"sensorManufacturer":{"type":"string","value":"Esthesis_Demo","metadata":{}},"sensorType":{"type":"string","value":"_SENSOR","metadata":{}},"units":{"type":"string","value":"number","metadata":{}}};

    				  // Put generic entity output (by SAN)
              dataPoint.readings.value[0].value.reading.value = jsonEntry.readings.value[0].value.reading.value;
                        // Put generic entity output (by SAN)
                        dataPoint.id = flowFile.getAttribute('esthesis.hardwareId');
                        dataPoint.type = "EsthesisDeviceReply";
                        dataPoint.measurementType.value = "string";
                        dataPoint.modifiedTime.value = jsonEntry.modifiedTime.value;;
                        //dataPoint.modifiedTime.value =new Date(flowFile.getAttribute('esthesis.nifi.timestamp')).toISOString();
                        dataPoint.sanID.value = "Esthesis_SAN_"+flowFile.getAttribute('esthesis.hardwareId');
                        dataPoint.sensorID.value = jsonEntry.measurement;
                        dataPoint.sensorManufacturer.value = "Esthesis";
                        dataPoint.sensorType.value = "DeviceReply";
                        dataPoint.units.value = "string";              
                        // Push record.
                        dataPoints.push(dataPoint);
					  
                      // Push record.
                      dataPoints.push(dataPoint);
                      
                      }));

					  // Put 'application json' in attribute 'mime.type' for later use 
                      flowFile = session.putAttribute(flowFile, 'esthesis.hardwareId', flowFile.getAttribute('esthesis.hardwareId'));
					  flowFile = session.putAttribute(flowFile, 'mime.type', 'application/json')

                      // Replace FlowFile's content with the data in Orion line protocol.
                      flowFile = session.write(flowFile, new OutputStreamCallback(function (outputStream) {
                      outputStream.write(JSON.stringify(dataPoints[0]).getBytes(StandardCharsets.UTF_8));
                      }));
                      session.transfer(flowFile, REL_SUCCESS);
                      }
                    </value>
                            </entry>
                            <entry>
<key>Module Directory</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteScript</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.script.ExecuteScript</type>
                </processors>
                <processors>
                    <id>6b8e299c-3214-3b97-0000-000000000000</id>
                    <parentGroupId>1a1a53d8-f1f8-30d4-0000-000000000000</parentGroupId>
                    <position>
                        <x>1608.0</x>
                        <y>528.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.10.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>${contextBrokerUrl}/v2/entities</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeHTTP-POST</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>71dd66a0-e54b-3340-0000-000000000000</id>
                    <parentGroupId>1a1a53d8-f1f8-30d4-0000-000000000000</parentGroupId>
                    <position>
                        <x>1608.0</x>
                        <y>80.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.10.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>PUT</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>${contextBrokerUrl}/v2/entities/${esthesis.hardwareId}/attrs</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeHTTP-PUT</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>d2954305-da82-3a8b-0000-000000000000</id>
                    <parentGroupId>1a1a53d8-f1f8-30d4-0000-000000000000</parentGroupId>
                    <position>
                        <x>1608.0</x>
                        <y>-136.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-scripting-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.10.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Script Engine</key>
<value>
    <name>Script Engine</name>
</value>
                            </entry>
                            <entry>
<key>Script File</key>
<value>
    <name>Script File</name>
</value>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>
    <name>Script Body</name>
</value>
                            </entry>
                            <entry>
<key>Module Directory</key>
<value>
    <name>Module Directory</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Script Engine</key>
<value>ECMAScript</value>
                            </entry>
                            <entry>
<key>Script File</key>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>/**
                      NiFi script to convert incoming telemetry data in Orion format.

                      Incoming records format:
                       {
                        "commandRequestId": 63,
                        "payload": "db\ndevice.crt\ndevice-private-key.pem\ndevice-public-key.pem\ndevice-session.key\nesthesis-platform-device.jar\nplatform-provisioning.key\nplatform-public-key.pem\nprovisioning\nroot-ca.crt\n",
                        "payloadType": "text/plain",
                        "payloadEncoding": "plain",
                        "created_on": "2021-01-17 14:41:25",
                        "created_by": "system",
                        "id": 0,
                        "version": 0
                      }

                      Outgoing records format:

                      {
                           "commandRequestId": {
                                "type": "number",
                                "value": 63,
                                "metadata": {}
                            },
                            "created_on": {
                                "type": "string",
                                "value": "2021-01-17 14:41:25",
                                "metadata": {}
                            },
                            "payload": {
                                "type": "string",
                                "value": {
                                                "value": "db\ndevice.crt\ndevice-private-key.pem\ndevice-public-key.pem\ndevice-session.key\nesthesis-platform-device.jar\nplatform-provisioning.key\nplatform-public-key.pem\nprovisioning\nroot-ca.crt\n"
                                            },                                      
                                "metadata": {}
                            },
                            "created_by": {
                                "type": "string",
                                "value": "system",
                                "metadata": {}
                            },
                            "payloadType": {
                                "type": "string",
                                "value": "text/plain",
                                "metadata": {}
                            },
                            "payloadEncoding": {
                                "type": "string",
                                "value": "plain",
                                "metadata": {}
                              },
                          "version": {
                              "type": "number",
                              "value": 0,
                              "metadata": {}
                            },
                            "created_id": {
                                "type": "number",
                                "value": 0,
                                "metadata": {}
                            }
             	       }
				      **/
                      // Get references the the output stream to write results, the input stream to read the content of
                      // the FlowFile, and to the incoming FlowFile.
                      var InputStreamCallback = Java.type("org.apache.nifi.processor.io.InputStreamCallback");
                      var OutputStreamCallback = Java.type("org.apache.nifi.processor.io.OutputStreamCallback");
                      var IOUtils = Java.type("org.apache.commons.io.IOUtils");
                      var StandardCharsets = Java.type("java.nio.charset.StandardCharsets");
                      var flowFile = session.get();

                      // If no FlowFile exists return, otherwise proceed with processing.
                      if (flowFile != null) {
                      var dataPoints = [];

                      // Read incoming FlowFile and convert data to records.
                      session.read(flowFile, new InputStreamCallback(function (inputStream) {
                      // Parse incoming FlowFile content to JSON.
                      var text = IOUtils.toString(inputStream, StandardCharsets.UTF_8);

                      var json = JSON.parse(text);

                      // Iterate through records.
                      
                      var jsonEntry = json;

                      // Create a variable of output format
                      var dataPoint = {"measurementType":{"type":"string","value":"numeric","metadata":{}},"modifiedTime":{"type":"string","value":"2020-12-24T14:19:38.265Z","metadata":{}},"readings":{"type":"array","value":[{"type":"SensorReading","value":{"reading":{"type":"string","value":""}}}],"metadata":{}},"sanID":{"type":"string","value":"SANdevice2","metadata":{}},"sensorID":{"type":"string","value":"device2","metadata":{}},"sensorManufacturer":{"type":"string","value":"Esthesis_Demo","metadata":{}},"sensorType":{"type":"string","value":"_SENSOR","metadata":{}},"units":{"type":"string","value":"number","metadata":{}}};

    				  // Put generic entity output (by SAN)
					  dataPoint.readings.value[0].value.reading.value = jsonEntry.payload;
                        // Put generic entity output (by SAN)
                        dataPoint.measurementType.value = "string";
                        dataPoint.modifiedTime.value =new Date(jsonEntry.created_on).toISOString();
                        //dataPoint.modifiedTime.value =new Date(flowFile.getAttribute('esthesis.nifi.timestamp')).toISOString();
                        dataPoint.sanID.value = "Esthesis_SAN_"+flowFile.getAttribute('esthesis.hardwareId');
                        dataPoint.sensorID.value = jsonEntry.measurement;
                        dataPoint.sensorManufacturer.value = "Esthesis";
                        dataPoint.sensorType.value = "DeviceReply";
                        dataPoint.units.value = "string";              
                        // Push record.
                        dataPoints.push(dataPoint);
					  
                      // Push record.
                      dataPoints.push(dataPoint);
                      
                      }));

					  // Put 'application json' in attribute 'mime.type' for later use 
                      flowFile = session.putAttribute(flowFile, 'esthesis.hardwareId', flowFile.getAttribute('esthesis.hardwareId')+"_Reply");
					  flowFile = session.putAttribute(flowFile, 'mime.type', 'application/json')

                      // Replace FlowFile's content with the data in Orion line protocol.
                      flowFile = session.write(flowFile, new OutputStreamCallback(function (outputStream) {
                      outputStream.write(JSON.stringify(dataPoints[0]).getBytes(StandardCharsets.UTF_8));
                      }));
                      session.transfer(flowFile, REL_SUCCESS);
                      }
                    </value>
                            </entry>
                            <entry>
<key>Module Directory</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteScript</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.script.ExecuteScript</type>
                </processors>
                <processors>
                    <id>e0e9fc77-aaca-34bb-0000-000000000000</id>
                    <parentGroupId>1a1a53d8-f1f8-30d4-0000-000000000000</parentGroupId>
                    <position>
                        <x>1608.0</x>
                        <y>-360.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.10.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>contextBrokerUrl</key>
<value>
    <name>contextBrokerUrl</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>contextBrokerUrl</key>
<value>http://172.18.0.16:1026</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttributeReplyUrl</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <name>Command reply writer to Opil [OCRW]</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>03/24/2021 06:05:02 UTC</timestamp>
</template>
